  <div id="nav">
      <h2><a href="/">THE STREAK<a/></h2>
      <ul>
          <li><a href="/goals">Current Streaks</a></li>
          <li><a href="/newgoal">New Goal</a></li>
          <li><a href="/signout">Logout<a/></li>
      </ul></div>
  </div>

<div id="goals-container">
<center><br>
  <div class="goal-individual-display">
    <% @user_goals.each do |item| %>
     <h1> <%= item.goal_name %></h1>
      <h4>
      <%= item.goal_description %></h4>


<div id="schedule-container">
    <ul>
      <% @schedule.each_with_index do |item, index| %>

        <li><strong>Day <%= index + 1  %></strong><br><br><br>
        <strong>Complete?</strong>

            <% if item.complete == false %>
              <%= p "Incomplete"  %>
            <% elsif item.complete == true %>
              <%= p "Complete!" %>
            <% end %>

        <br><br>
<!--         <input type ="submit" color="black" class="button-click" data-id="<%= item.id %>"> </input> -->

      </li>

      <% end %></ul>
    <% end %>
</div>

  </div>
</center>
</div>

